.venv/
Appendix A - Python Code_files/libs/bootstrap/bootstrap-d6a003b94517c951b2d65075d42fb01b.min.css
Appendix A - Python Code_files/libs/bootstrap/bootstrap-icons.css
Appendix A - Python Code_files/libs/bootstrap/bootstrap-icons.woff
Appendix A - Python Code_files/libs/bootstrap/bootstrap.min.js
Appendix A - Python Code_files/libs/clipboard/clipboard.min.js
Appendix A - Python Code_files/libs/quarto-html/anchor.min.js
Appendix A - Python Code_files/libs/quarto-html/popper.min.js
Appendix A - Python Code_files/libs/quarto-html/quarto-syntax-highlighting-ed96de9b727972fe78a7b5d16c58bf87.css
Appendix A - Python Code_files/libs/quarto-html/quarto.js
Appendix A - Python Code_files/libs/quarto-html/tippy.css
Appendix A - Python Code_files/libs/quarto-html/tippy.umd.min.js
Appendix A - Python Code_files/libs/quarto-html/axe/axe-check.js
Appendix A - Python Code_files/libs/quarto-html/tabsets/tabsets.js
